main{
    .ropaBtn{
        display: inline-block;
        padding: 7px 10px;
        background-color: rgb(186, 130, 238);
        color: white;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 15px;
        border: none;
    }
}